{% extends 'app/dashboard/base/base.html' %}
{% load static i18n %}

{% block title %}{{ block.super }}: {% translate 'Answer Deletion Confirm' %}{% endblock %}

{% block content %}
    <h3>
        {% translate 'Answer delete confirm' %}
    </h3>
    <form method="post">
        {% csrf_token %}
        <p>
            {% translate 'Are you sure you want to delete this answer?' %}
        </p>
        {% url 'app:edit_quiz_answer' quizanswer.id as url %}
        {% include 'app/includes/utilities/submit.html' with cancel_url=url %}
    </form>
{% endblock %}