{% load static i18n %}
<div class="card mb-3 rounded-2xl">
    <div class="card-body py-3 px-0">
        <div class="container-fluid">
            <div class="row mb-0">
                {% if announcement.image %}
                    <div class="col-12 col-lg-3">
                        <div class="mb-3 mb-lg-0">
                            <img src="{% url 'app:return_file' 'announcement_img' announcement.id %}"
                                 class="w-100 rounded-2xl" alt="">
                        </div>
                    </div>
                {% endif %}
                <div class="col-12 {% if announcement.image %}col-lg-9{% endif %} ">
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <h5 class="d-flex align-items-center heading heading-5 strong-600">
                                {{ announcement.user.get_full_name }}
                            </h5>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="d-flex align-items-center justify-content-around">
                                <a class="btn btn-sm rounded-2xl btn-soft-warning"
                                   href="{% url 'app:edit_announcement' announcement.id %}">
                                    <i class="bi bi-pencil-square"></i>
                                </a>
                                <a class="btn btn-sm rounded-2xl btn-soft-danger"
                                   href="{% url 'app:delete_announcement' announcement.id %}">
                                    <i class="bi bi-trash-fill"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <small class="text-muted mb-4">{{ announcement.created_at|timesince }}</small>
                    <p class="card-text">
                        {{ announcement.content|linebreaks }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>