{% extends 'app/base/main.html' %}
{% load i18n %}

{% block title %}{% translate 'Answer Delete Confirmation' %}{% endblock %}

{% block content %}
    <div class="border rounded-2xl p-3">
        <h3 class="heading lead">
            {% translate 'Answer Delete Confirmation' %}
        </h3>
        <p>
            {% translate 'Are you sure you want to delete this answer?' %}
        </p>
        <form method="post">
            {% csrf_token %}
            {% url 'app:generic_question_detail' answer.question_id as url %}
            {% include 'app/includes/utilities/submit.html' with cancel_url=url %}
        </form>
    </div>
{% endblock %}