{% extends 'app/base/main.html' %}
{% load static i18n %}

{% block title %}{% translate 'Question deleteion confirm' %}{% endblock %}

{% block content %}
    <div class="border p-3 rounded-2xl mb-3">
        <h3 class="lead heading">
            {% translate 'Question delete confirmation' %}
        </h3>
        <p>
            {% translate 'Are you sure you want to delete this question?' %}
        </p>
        <div class="alert alert-outline-primary rounded-2xl mb-0">
            <div class="alert-heading">
                {% translate 'Note:' %}
            </div>
            {% translate 'All related answers to this question will be deleted if you delete this question.' %}
        </div>
    </div>
    <form method="post">
        {% csrf_token %}
        {% url 'app:forums' as url %}
        {% include 'app/includes/utilities/submit.html' with cancel_url=url %}
    </form>
{% endblock %}