{% extends 'app/base/main.html' %}
{% load static i18n %}
{% block title %}{% translate 'Annoucements' %}{% endblock %}
{% block content %}
    <div class="">
        {% if announcement_list %}
            {% for announcement in announcement_list %}
                {% include 'app/includes/components/announcement.html' %}
            {% endfor %}
        {% else %}
            <div class="border rounded-2xl p-3 text-center">
                <i class="bi bi-card-text" style="font-size: 5rem"></i>
                <p>
                    {% translate 'No announcements yet.' %}
                </p>
            </div>
        {% endif %}
    </div>
{% endblock %}