{% extends 'app/base/main.html' %}
{% load i18n static %}
{% block main-style %}bg-white text-dark rounded-3{% endblock %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <div class="border p-3 rounded-2xl">
        <h1 class="heading lead border rounded-2xl p-3 text-center text-lg-left">
            {% translate 'Password change' %}
        </h1>
        <form method="post">
            <div class="row">
                <div class="col-12 col-lg-6">
                    {% csrf_token %}
                    {% if form.errors %}
                        <div class="alert alert-outline-warning rounded-2xl" role="alert">
                            {% if form.errors.items|length == 1 %}
                                {% translate "Please correct the error below." %}
                            {% else %}
                                {% translate "Please correct the errors below." %}
                            {% endif %}
                        </div>
                    {% endif %}
                    <div class="mb-3 ">
                        {% translate 'Please enter your old password, for security’s sake.' %}
                    </div>
                    <div class="form-group">
                        <label for="old">
                            {% translate 'Old password:' %}
                        </label>
                        <input type="password" name="old_password" id="old" placeholder="{% translate 'Old password' %}" class="form-control rounded-2xl mb-3 {% if form.old_password.errors %}is-invalid{% endif %}">
                        {% if form.old_password.errors %}
                            <div class="alert alert-outline-warning rounded-2xl" role="alert">
                                {{ form.old_password.errors }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="card rounded-2xl">
                        <div class="card-header p-3">
                            {% translate 'Something to consider when you changing your password:' %}
                        </div>
                        <div class="list-group">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    {% translate 'Your password can’t be too similar to your other personal information.' %}
                                </li>
                                <li class="list-group-item">
                                    {% translate 'Your password must contain at least 8 characters.' %}
                                </li>
                                <li class="list-group-item">
                                    {% translate 'Your password can’t be a commonly used password.' %}
                                </li>
                                <li class="list-group-item">
                                    {% translate 'Your password can’t be entirely numeric.' %}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 pt-3 pt-lg-0">
                    <div class="mb-3">
                        {% translate 'And then enter your new password twice so we can verify you typed it in correctly.' %}
                    </div>
                    <div class="form-group">
                        <label for="new">
                            {% translate 'New password:' %}
                        </label>
                        <input type="password" name="new_password1" id="new" placeholder="{% translate 'New password' %}" class="form-control rounded-2xl mb-3 {% if not form.old_password.errors and form.new_password1.errors %} is-invalid {% endif %}">
                        {% if not form.old_password.errors and form.new_password1.errors %}
                            <div class="alert alert-outline-warning rounded-2xl" role="alert">
                                {{ form.new_password1.errors }}}
                            </div>
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        {% translate 'Enter the same password as before for verification:' %}
                    </div>
                    <div class="form-group mb-lg-5">
                        <label for="new1">
                            {% translate 'Confirm password:' %}
                        </label>
                        <input type="password" name="new_password2" id="new1" placeholder="{% translate 'Confirm password' %}" class="form-control rounded-2xl mb-3  {% if not form.old_password.errors and not form.new_password1.errors and form.new_password2.errors %} is-invalid {% endif %}">
                        {% if not form.old_password.errors and not form.new_password1.errors and form.new_password2.errors %}
                            <div class="alert alert-outline-warning rounded-2xl" role="alert">
                                {{ form.new_password2.errors }}
                            </div>
                        {% endif %}
                    </div>
                    {% url 'app:index' as url %}
                    {% include 'app/includes/utilities/submit.html' with cancel_url=url %}
                </div>
            </div>
        </form>
    </div>
{% endblock %}
