{% extends 'app/base/main.html' %}
{% load i18n %}
{% block title %}{% translate 'Password change complete' %}{% endblock %}
{% block content %}
    <div class="border p-3 rounded-2xl">
        <h1 class="lead heading">
            {% translate 'Password change successfull.' %}
        </h1>
        <div class="alert alert-outline-warning rounded-2xl d-flex align-items-center">
            <span class="badge badge-lg badge-pill badge-soft-warning mr-3">
                {% translate 'Note' %}
            </span>
            {% translate 'Next time do not forget to use your new password when you log in.' %}
        </div>
    </div>

{% endblock %}