{% extends "app/base/main.html" %}
{% load i18n static %}
{% block title %}{% translate 'Password rest confirm' %}{% endblock %}
{% block content %}
    {% if not validlink %}
        <h1>{% translate 'Password reset confirm' %}</h1>
        <p class="my-3">
            {% translate "Please enter your new password twice so we can verify you typed it in correctly." %}
        </p>
        <form method="post">
            {% csrf_token %}
            {% if form.errors %}
                <div class="alert alert-outline-danger alert-dismissible fade show" role="alert">
                    {% if form.errors.items|length == 1 %}
                        {% translate "Please correct the error below." %}
                    {% else %}
                        {% translate "Please correct the errors below." %}
                    {% endif %}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}
            <div class="mb-3 ">
                {% translate 'Something to consider when you changing your password:' %}
                <ul class="fs-6">
                    <li>{% translate 'Your password can’t be too similar to your other personal information.' %} </li>
                    <li>{% translate 'Your password must contain at least 8 characters.' %} </li>
                    <li>{% translate 'Your password can’t be a commonly used password.' %} </li>
                    <li>{% translate 'Your password can’t be entirely numeric.' %} </li>
                </ul>
            </div>
            <div class="form-floating mb-3 text-dark">
                <label for="new">{% translate 'New password' %}</label>
                <input type="password" name="new_password1"
                       class="form-control rounded-2xl mb-3 {% if not form.old_password.errors and form.new_password1.errors %} is-invalid {% endif %}"
                       id="new" placeholder="New password">
                {% if form.new_password1.errors %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        {{ form.new_password1.errors }}}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endif %}
            </div>
            <div class="mb-3 ">
                {% translate 'Enter the same password as before for verification:' %}
            </div>
            <div class="form-floating mb-3 text-dark">
                <label for="new1">{% translate 'Confirm password' %}</label>
                <input type="password" name="new_password2"
                       class="form-control rounded-2xl mb-3  {% if not form.new_password1.errors  and form.new_password2.errors %} is-invalid {% endif %}"
                       id="new1" placeholder="Confirm password">
                {% if not form.new_password1.errors and form.new_password2.errors %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        {{ form.new_password2.errors }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endif %}
            </div>
            <div class="my-3 p-3 d-flex rounded-2xl border">
                <button type="reset" class="btn btn-sm rounded-2xl btn-soft-danger w-100 mx-1">
                    <i class="bi bi-x"></i>
                    {% translate 'Cancel' %}
                </button>
                <button type="submit" class="btn btn-sm rounded-2xl btn-soft-success w-100 mx-1">
                    <i class="bi bi-check"></i>
                    {% translate 'Change' %}
                </button>
            </div>
        </form>
    {% else %}
        <p class="">
        <h1>{% translate 'Password reset link is invalid !!' %}</h1>
        <p class="my-3">
            {% translate "The password reset link was invalid, possibly because it has already been used. Please request a new password reset." %}
            <br>
        </p>
        <a class="btn btn-sm rounded-2xl btn-soft-success" href="{% url 'app:reset_password' %}">
            {% translate 'Request reset link.' %}
        </a>
        </p>
    {% endif %}
{% endblock %}
