{% extends "app/base/main.html" %}
{% load i18n %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <div class="border p-3 rounded-2xl">
        <h1 class="lead heading">
            {% translate 'Password reset complete.' %}
        </h1>
        <p>
            {% translate "Your password has been set.  You may go ahead and log in now." %}
        </p>
        <div class="border rounded-2xl p-3 d-flex align-items-center justify-content-center justify-content-lg-end">
            <a href="{% url 'login' %}" class="btn btn-sm rounded-2xl btn-soft-success w-sm-100">
                {% translate 'Log in' %}
            </a>
        </div>
    </div>
{% endblock %}

