{% extends 'app/base/main.html' %}
{% load i18n static %}
{% block title %}{{ title }}{% endblock %}
{% block main-style %}bg-white text-dark rounded-3 py-3{% endblock %}
{% block content %}
    <div class="border p-3 rounded-2xl">
        <h1 class="lead heading">
            {% translate 'Password reset' %}
        </h1>
        <p>
            {% translate 'Forgotten your password?' %} <br>
            {% translate 'Enter your email address that you have registered with below, and we’ll email instructions for setting a new one.' %}
        </p>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="old">
                    {% translate 'Email address' %}
                </label>
                <input type="email" name="email" placeholder="{% translate 'Email address' %}"
                       class="form-control rounded-2xl mb-3 {% if form.email.errors %} is-invalid {% endif %}" id="old">
                {% if form.email.errors %}
                    <div class="alert alert-outline-warning rounded-2xl" role="alert">
                        {{ form.email.errors }}
                    </div>
                {% endif %}
            </div>
            {% url 'app:index' as url %}
            {% include 'app/includes/utilities/submit.html' with cancel_url=url %}
        </form>
    </div>
{% endblock %}
