{% extends 'app/base/main.html' %}
{% load i18n %}

{% block title %}{% translate 'Comment detail' %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12 col-lg-6">
            {# Post #}
            {% include 'app/includes/components/post_comment.html' %}
            {# End post #}
        </div>
        <div class="col-12 col-lg-6">
            <div class="border rounded-2xl p-3">
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <h3 class="m-0 p-0 text-muted text-center text-lg-left">
                            {% translate 'Replies' %}
                        </h3>
                    </div>
                    <div class="col-12 col-lg-6 pt-3 pt-lg-0">
                        <div class="d-flex align-items-center justify-content-between">
                            <button type="button" class="btn btn-sm rounded-2xl btn-soft-warning mr-lg-3"
                                    data-bs-toggle="modal" data-bs-target="#reply_adding_modal">
                                <i class="bi bi-plus"></i>
                                {% translate 'Reply' %}
                            </button>
                            <button type="button" class="btn btn-sm rounded-2xl btn-soft-danger"
                                    data-bs-toggle="modal" data-bs-target="#reply_listing_modal">
                                <i class="bi bi-ui-checks-grid"></i>
                                {% translate 'Replies' %}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            {% if  comment.reply_set.all %}
                <div class="my-3">
                    {% include 'app/includes/components/reply.html' with reply=comment.reply_set.all.last user=user %}
                </div>
            {% else %}
                <div class="my-3 border rounded-2xl p-3 text-center">
                    <i class="bi bi-chat-left-text" style="font-size: 5rem"></i>
                    <h5 class="heading h5">{% translate 'Not replied yet.' %}</h5>
                </div>
            {% endif %}
        </div>
    </div>
    {# Comment Adding Modal #}
    <div class="modal fade" id="reply_adding_modal" tabindex="-1"
         aria-labelledby="reply_adding_modal_title" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content rounded-2xl">
                <div class="modal-header p-3">
                    <h5 class="modal-title" id="reply_adding_modal_title">
                        {% translate 'Add Reply' %}
                    </h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <i class="bi bi-x-square-fill text-danger"></i>
                    </button>
                </div>
                <div class="modal-body p-3">
                    <form method="post" action="{% url 'app:create_reply' comment.id %}" id="add_reply">
                        {% csrf_token %}
                        <textarea name="content" rows="10" class="form-control rounded-2xl" required
                                  aria-label="{% translate 'Content' %}" placeholder="{% translate 'Reply content' %}"
                        ></textarea>
                    </form>
                </div>
                <div class="modal-footer p-3">
                    <button type="button" class="btn btn-sm rounded-2xl btn-soft-danger" data-bs-dismiss="modal">
                        <i class="bi bi-x"></i> {% translate 'Cancel' %}
                    </button>
                    <button type="submit" form="add_reply" class="btn btn-sm rounded-2xl btn-soft-success">
                        <i class="bi bi-plus"></i> {% translate 'Add' %}
                    </button>
                </div>
            </div>
        </div>
    </div>
    {# End modal #}
    {# Comment Listing Modal #}
    <div class="modal fade" id="reply_listing_modal" tabindex="-1"
         aria-labelledby="reply_listing_modal_title" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content rounded-2xl">
                <div class="modal-header p-3">
                    <h5 class="modal-title" id="reply_listing_modal_title">
                        {% translate 'Reply List' %}
                    </h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <i class="bi bi-x-square-fill text-danger"></i>
                    </button>
                </div>
                <div class="modal-body px-3 pt-3 pb-0">
                    {% if comment.reply_set.all %}
                        {% for reply in comment.reply_set.all %}
                            {% include 'app/includes/components/reply.html' %}
                        {% endfor %}
                    {% else %}
                        <div class="border rounded-2xl p-3 text-center">
                            <i class="bi bi-ui-radios-grid" style="font-size: 5rem"></i>
                            <p>
                                {% translate 'Not replied.' %}
                            </p>
                        </div>
                    {% endif %}
                </div>
                <div class="modal-footer p-3">
                    <button type="button" class="btn btn-sm rounded-2xl btn-soft-danger" data-bs-dismiss="modal">
                        <i class="bi bi-x"></i>
                        {% translate 'Close' %}
                    </button>
                </div>
            </div>
        </div>
    </div>
    {# End modal #}
{% endblock %}