{% extends 'app/base/main.html' %}
{% load i18n static %}
{% block title %}{{ user.get_full_name }}: {% translate 'Profile' %}{% endblock %}
{% block content %}
    <div class="mb-3 d-flex border p-3 rounded-2xl align-items-center">
        {% if user == request.user %}
            <h3 class="container-fluid mb-0">
                {% translate 'Welcome ' %}{{ user.get_short_name }}
            </h3>
            <a href="{% url 'app:edit_user' user.id %}" class="btn btn-sm rounded-2xl btn-soft-success"
               aria-label="Edit profile">
                <i class="bi bi-pencil-square"></i>
            </a>
        {% else %}
            <h3 class="mb-0">
                {% translate 'Profile of ' %}
                {{ user.get_username }}
            </h3>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-12 col-lg-6 pb-3 pb-lg-0">
            <div class="card rounded-2xl">
                {% if user.image %}
                    <img class="card-img rounded-2xl" src="{% url 'app:return_file' 'profile_img' user.id %}"
                         alt="{{ user.get_full_name }}">
                {% else %}
                    <img class="card-img" src="{% static 'app/img/default/person.svg' %}"
                         alt="{{ user.get_full_name }}">
                {% endif %}
                <div class="card-body p-3">
                    <h4 class="card-title text-center mb-0">
                        {{ user.get_full_name }}
                    </h4>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <div class="card rounded-2xl mb-3">
                <div class="card-body">
                    <h3>{% translate 'About' %}</h3>
                    <div class="card-text mb-3">
                        {{ user.about }}
                    </div>
                    <div class="card rounded-2xl">
                        <div class="card-header py-4">
                            <h4 class="heading h5 font-weight-500 mb-0">
                                {% translate 'Info about this user' %}
                            </h4>
                        </div>
                        <div class="list-group">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    {% translate 'Total posts: ' %}
                                    {{ user.post_list.all.count }}
                                </li>
                                <li class="list-group-item">
                                    {% translate 'Total Courses: ' %}
                                    {{ user.course_set.all.count }}
                                </li>
                                <li class="list-group-item">
                                    {% translate 'Total questions: ' %}
                                    {{ user.genericquestion_set.all.count }}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card rounded-2xl p-3">
                <button type="button" class="btn btn-block rounded-2xl btn-soft-primary mb-3"
                        data-bs-toggle="modal" data-bs-target="#post_listing_modal">
                    <i class="bi bi-ui-checks-grid"></i>
                    {% translate 'Posts' %}
                </button>
                <button type="button" class="btn btn-block rounded-2xl btn-soft-warning"
                        data-bs-toggle="modal" data-bs-target="#forum_question_listing_modal">
                    <i class="bi bi-ui-radios-grid"></i>
                    {% translate 'Questions' %}
                </button>
            </div>
        </div>
    </div>
    {# Question Listing Modal #}
    <div class="modal fade" id="forum_question_listing_modal" tabindex="-1"
         aria-labelledby="forum_question_listing_modal_title" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content rounded-2xl">
                <div class="modal-header p-3">
                    <h5 class="modal-title" id="forum_question_listing_modal_title">
                        {% translate 'Question List' %}
                    </h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <i class="bi bi-x-square-fill text-danger"></i>
                    </button>
                </div>
                <div class="modal-body px-3 pt-3 pb-0">
                    {# Forum questions #}
                    {% if user.forumquestion_set.all %}
                        {% for question in user.forumquestion_set.all %}
                            {% include 'app/includes/components/question.html' %}
                        {% endfor %}
                    {% else %}
                        <div class="border rounded-2xl p-3 mb-3 text-center">
                            <i class="bi bi-patch-question-fill" style="font-size: 5rem"></i>
                            <p>
                                {% translate 'There is no question on main forum by this user' %}
                            </p>
                        </div>
                    {% endif %}
                    {# End questions #}
                </div>
                <div class="modal-footer p-3">
                    <button type="button" class="btn btn-sm rounded-2xl btn-soft-danger" data-bs-dismiss="modal">
                        <i class="bi bi-x"></i>
                        {% translate 'Close' %}
                    </button>
                </div>
            </div>
        </div>
    </div>
    {# End modal #}

    {# Post Listing Modal #}
    <div class="modal fade" id="post_listing_modal" tabindex="-1"
         aria-labelledby="post_listing_modal_title" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content rounded-2xl">
                <div class="modal-header p-3">
                    <h5 class="modal-title" id="post_listing_modal_title">
                        {% translate 'Post List' %}
                    </h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <i class="bi bi-x-square-fill text-danger"></i>
                    </button>
                </div>
                <div class="modal-body px-3 pt-3 pb-0">
                    {# Posts #}
                    {% if user.post_list.all %}
                        <div class="mb-3">
                            {% for post in user.post_list.all %}
                                {# Post #}
                                {% include 'app/includes/components/post.html' %}
                                {# End post #}
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="mb-3 border rounded-2xl p-3 text-center">
                            <i class="bi bi-card-text" style="font-size: 5rem"></i><br>
                            {% translate 'There is no post posted by this user.' %}
                        </div>
                    {% endif %}
                    {# End posts #}
                </div>
                <div class="modal-footer p-3">
                    <button type="button" class="btn btn-sm rounded-2xl btn-soft-danger" data-bs-dismiss="modal">
                        <i class="bi bi-x"></i>
                        {% translate 'Close' %}
                    </button>
                </div>
            </div>
        </div>
    </div>
    {# End modal #}
{% endblock %}