{% extends 'app/views/edit/edit_view.html' %}
{% load i18n %}

{% block title %}{% translate 'Edit question' %}{% endblock %}

{% block editable %}
    <div class="border p-3 rounded-2xl mb-3 text-center text-lg-left">
        <h1 class="heading lead mb-0">
            {% translate 'Edit Question' %}
        </h1>
    </div>
    <form method="post">
        {% if form.errors %}
            <div class="alert alert-outline-warning rounded-2xl">{{ form.errors }}</div>
        {% endif %}
        {% csrf_token %}
        <div class="form-group">
            <textarea name="content" rows="10" class="form-control rounded-2xl"
                aria-label="{% translate 'Question content' %}" required
                placeholder="{% translate 'Question content' %}"
            >{{ question.content }}</textarea>
        </div>
        {% url 'app:delete_generic_question' question.id as url %}
        {% url 'app:forums' as uri %}
        {% include 'app/includes/utilities/save_submit.html' with delete_url=url cancel_url=uri %}
    </form>
{% endblock %}