{% extends 'app/base/main.html' %}
{% load i18n static %}

{% block title %}{% translate 'Home' %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-6 col-12">
            <div class="card rounded-2xl mb-3">
                <img src="{% static 'app/img/illustrations/illustration-7.svg' %}"
                     alt="{% translate 'A flying woman on a rocket' %}"
                     class="card-img-bottom">
                <div class="card-body p-3">
                    <div class="card-title">
                        <h3 class="mb-0">
                            {% translate 'In the Sky' %}
                        </h3>
                    </div>
                    <div class="card-text">
                        {% blocktranslate %}
                            Learn To Fly.
                            Without limits in the sky.
                            If you fail, be strong and do not cry.
                            Life is all about scarify.
                        {% endblocktranslate %}
                    </div>
                </div>
            </div>
            <div class="card rounded-2xl">
                <div class="card-body p-3">
                    <div class="card-title">
                        <h3 class="mb-0">
                            {% translate 'A game to win!!' %}
                        </h3>
                    </div>
                    <div class="card-text">
                        {% blocktranslate %}
                            The life is a game.<br>

                        {% endblocktranslate %}
                    </div>
                </div>
                <img src="{% static 'app/img/illustrations/illustration-5.svg' %}"
                     alt="{% translate 'A woman with a desktop' %}"
                     class="card-img-bottom">
            </div>
        </div>
        <div class="col-lg-6 col-12 pt-3 pt-lg-0">
            <div class="card rounded-2xl mb-3">
                <img src="{% static 'app/img/illustrations/illustration-3.svg' %}"
                     alt="{% translate 'A man with laptop' %}"
                     class="card-img-top">
                <div class="card-body p-3">
                    <div class="card-title">
                        <h3 class="mb-0">
                            {% translate 'Hello' %}
                        </h3>
                    </div>
                    <div class="card-text">
                        {% blocktranslate %}
                            Learn To Earn
                            Learn To Gain
                            Learn To Fly
                            without limits in the sky
                            if you fail, be strong and do not cry
                            life is all about scarify
                        {% endblocktranslate %}
                    </div>
                </div>
            </div>
            <div class="card rounded-2xl">
                <div class="card-body p-3">
                    <div class="card-title">
                        <h3 class="mb-0">
                            {% translate 'The Power' %}
                        </h3>
                    </div>
                    <div class="card-text">
                        {% blocktranslate %}
                            Learn to earn the power.<br>
                            Learn to be at the top of the tower.<br>
                            Learn to be the higher not the lower.<br>
                        {% endblocktranslate %}
                    </div>
                </div>
                <img src="{% static 'app/img/illustrations/illustration-1.svg' %}"
                     alt="{% translate 'Woman with a desktop' %}" class="card-img-bottom">
            </div>
        </div>
    </div>
{% endblock %}